input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.article-image{
  max-width: 250px;
}

@media (max-width: 576px) {
  .article-image{
    max-width: 100px;
  }
}