<div class="mt-5">
    <div style="justify-items: center;">
        <fa-icon [icon]="faHourglassHalf" class="fs-1 d-block"/>
        <h1>Account wacht op goedkeuring</h1>
        <p>Je zal een mail ontvangen als je account is goedgekeurd. Zodra je account goedgekeurd is, kan je de artikels
            zien.</p>
        <div class="d-flex gap-2">
            <button class="btn btn-secondary" (click)="backToHomePage()">Terug naar homepagina</button>
            <button class="btn btn-primary" (click)="backProceedToArticles()">Verder gaan</button>
        </div>
    </div>
</div>