<nav class="navbar navbar-expand-lg gradient-custom">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white; font-family: system-ui, -apple-syst; font-weight: bolder" routerLink="/">HoneyQ</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isMenuCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="border-left: 1px solid rgba(0, 0, 0, 0.2);">
          <a class="nav-link text-black-50" aria-current="page" routerLink="/articles">Artikels</a>
        </li>
        @if(isAdmin()){
          <li class="nav-item" style="border-left: 1px solid rgba(0, 0, 0, 0.2);">
            <a class="nav-link text-black-50" aria-current="page" routerLink="/pending-orders">Orders in behandeling</a>
          </li>
        }
      </ul>
      <div class="d-flex">
        <button class="btn btn-light me-2 position-relative" role="button" (click)="openCart()">
          <fa-icon [icon]="faBasketShopping" /> Winkelmand
          @if (cartItemCount() > 0) {
            <span class="badge rounded-pill bg-danger">
              {{ cartItemCount() }}
            </span>
          }
        </button>
        <div ngbDropdown class="nav-item">
          <button ngbDropdownToggle class="btn btn-light" role="button">
            <fa-icon [icon]="faUser" />
          </button>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <li><div ngbDropdownItem>{{profileName()}}</div></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a ngbDropdownItem routerLink="/my-orders"><fa-icon [icon]="faClipboardList" /> Mijn bestellingen</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a ngbDropdownItem (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket" /> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar content -->
</nav>