<nav class="navbar navbar-expand-lg gradient-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HoneyQ</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- class="collapse navbar-collapse" id="navbarSupportedContent" -->
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/articles">Artikels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-light me-2" role="button">
          <fa-icon [icon]="faBasketShopping" />Winkelmand
        </button>
        <div ngbDropdown class="nav-item">
          <button ngbDropdownToggle class="btn btn-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <fa-icon [icon]="faUser" />
          </button>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <li><div ngbDropdownItem>{{profileName()}}</div></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a ngbDropdownItem (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket" /> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar content -->
</nav>