<div class="card" style="width: 100%;">
	
  <div class="card-body d-flex">
	<div class="d-flex justify-content-center align-items-center">
		<img [src]="orderDetail().article.imageUrl" class="m-3" style="max-width: 80px;" alt="...">
	</div>
	<div>
		<h5 class="card-title">{{orderDetail().article.name}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">€ {{(orderDetail().article.priceInEUR * orderDetail().quantity) | number:'1.2-2':'nl-BE' }}</h6>
		<div class="d-flex gap-2 flex-wrap flex-sm-nowrap">
			<div class="input-group">
				<button class="btn btn-outline-primary" (click)="amountChange(amount() - 1)" type="button"><fa-icon [icon]="faMinus" /></button>
				<input
					type="number"
					class="form-control"
					[ngModel]="amount()"
					[disabled]="true"
					[ngModelOptions]="{standalone: true}"
				/>
				<button class="btn btn-outline-primary" (click)="amountChange(amount() + 1)" type="button"><fa-icon [icon]="faPlus" /></button>
			</div>
			<button class="btn btn-outline-danger" (click)="onAmountChange.emit(0)"><fa-icon [icon]="faTrashCan" /></button>
		</div>
		<p>Beschikbaar ({{availableStockLabel()}})</p>
	</div>
  </div>
</div>