<div class="card" style="width: 18rem;">
    <div class="card-img-top d-flex justify-content-center">
        <img [src]="article().imageUrl" class="m-3" style="max-width: 250px;" alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title">{{article().name}}</h5>
        <p class="card-text" [innerHTML]="article().description"></p>
        <p class="card-text" style="font-weight: bolder; font-size: 1.6rem">€ {{article().priceInEUR | number:'1.2-2':'nl-BE'}}</p>
        <h6>Voorraad</h6>
        <ngb-progressbar class="mb-3" type="secondary" [value]="availableStock()" [striped]="true" [animated]="true"
            ><i>{{availableStockLabel()}}</i></ngb-progressbar
        >
        <button (click)="openArticleDialog(article().id, content)" class="btn btn-primary">
            <fa-icon [icon]="faBasketShopping" /> Toevoegen aan winkelmand
        </button>
    </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Toevoegen aan winkelmand</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>