
<div class="d-flex flex-wrap justify-content-center" style="gap: 2rem; margin: 10px">
    @if (articles(); as articles) {
        @for (article of articles; track article.id) {
            <app-article [article]="article" [currentCart]="currentCart()" (onAddToBasket)="addOrUpdateToBasket($event)"></app-article>
        } @empty {
            <div class="text-center mt-4">
                <p style="font-size: 3rem;">{{ emptyMessage.emoji }}</p>
                <p class="text-muted">{{ emptyMessage.text }}</p>
            </div>
        }
    } 
</div>
